body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  user-select: none;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
}
/* - LIST -  */
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
  height: 100vh;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: all 1s;
}
.list-item a {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
/* Write */
.p-20 {
  padding: 20px;
}
input {
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border-radius: 5px;
}
/* - Layout -  */
.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
}
